
종합설계/6.25(동영상 저장 모듈)/Project60/.vs/

종합설계/6.25(동영상 저장 모듈)/Project60/x64/
종합설계/6.25(동영상 저장 모듈)/ScreenCapture-master/.vs/ScreenCapture/v16/.suo
종합설계/6.25(동영상 저장 모듈)/ScreenCapture-master/.vs/ScreenCapture/v16/Browse.VC.db

*.vs
Debug
Release
x64
*.db-shm
*.db-wal
*.opendb
*.ipch
*.recipe
*.ilk
*.recipe
*.recipe
*.log
*.pch
*.tlog
*.idb
*.user
