# Rules in this file were initially inferred by Visual Studio IntelliCode from the D:\Graduation_project\종합설계\8.23(동영상 전송)\gstreamer_tutorial codebase based on best match to current usage at 2021-08-31
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]

